# Python & Colab
__pycache__/
*.ipynb_checkpoints
*.pyc
venv/

# Data & Models (Important!)
data/
*.pdf
*.parquet
*.json
*.faiss
*.pkl
models/
outputs/
final_adapter/
kaggle.json

# Environment variables
.env
